html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

body, html {
  max-width: 100vw;
  font-size: 16px;
  box-sizing: border-box; }

.nav-container {
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  position: fixed;
  border-bottom: 1px solid #000; }

.navbar {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar .logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .navbar .logo img {
      width: 103.68px;
      height: 18px; }

.nav-items {
  font-size: 0.38em;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav-items .item:nth-child(1),
  .nav-items .item:nth-child(2) {
    opacity: 0.4;
    margin-right: 2.5em; }

@media screen and (min-width: 375px) {
  .logo.col > img {
    width: 138.24px;
    height: 24px; }
  .nav-items {
    font-size: 0.5em; }
  .item img {
    height: 12px; } }

@media screen and (min-width: 425px) {
  .nav-container {
    height: 60px; }
  .logo.col > img {
    width: 184.32px;
    height: 32px; }
  .nav-items {
    font-size: 0.6em; }
  .item img {
    height: 14px; } }

@media screen and (min-width: 768px) {
  .nav-container {
    height: 70px; }
  .logo.col > img {
    width: 195.84px;
    height: 34px; }
  .nav-items {
    font-size: 0.8em; }
  .item img {
    height: 18px; } }
