// ========================
// Reset
// ------------------------
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
body, html {
  max-width: 100vw;
  font-size: 16px;
  box-sizing: border-box;
}

// ========================
// Imported Fonts
// ------------------------
@font-face {
  font-family: 'Springville';
  src: url(./fonts/Springville-Regular3.otf);
}
@font-face {
  font-family: 'ACaslon';
  src: url(./fonts/ACaslonPro-Regular.otf);
}

// ========================
// Mixins
// ------------------------
@mixin flex($justify-content, $align-items) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}
@mixin logo-ratio($height) {
  width: $height * 5.76;
  height: $height;
}

// ====================
// Navigation Bar
// --------------------
.nav-container {
  width: 100%;
  height: 50px;

  top: 0;
  left: 0;
  z-index: 9;
  position: fixed;
  background: white;
}
.navbar {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  @include flex(space-between, center);
  .logo {
    height: 100%;
    @include flex(flex-start, center);
    img {
      @include logo-ratio(18px);
    }
  }
}
.nav-items {
  font-size: 0.38em;
  font-family: 'Arial', sans-serif;
  @include flex(space-between, center);
  .item:nth-child(1),
  .item:nth-child(2) {
    opacity: 0.4;
    margin-right: 2.5em;
  }
}

// ====================
// Hero - Banner
// --------------------
.banner {
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  margin-top: 50px;
  background: orange;
}
.overlay {
  width: 100%;
  height: 100%;
  
  top: 0;
  z-index: 8;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  @include flex(flex-start, center);
  .headline {
    width: 90%;
    color: white;
    margin: 0 auto;
  }
}

// ====================
// Banner Headline
// --------------------
.headline {
  padding-top: 45px;
  h1 {
    font-size: 1.7em;
    font-family: 'Springville', sans-serif;
  }
  h3 {
    font-size: 1em;
    font-family: 'ACaslon', sans-serif;
  }
  h6 {
    font-size: 0.6em;
    font-family: 'ACaslon', sans-serif;
  }
}

// ====================
// Banner Image Dots
// --------------------
.dots-container {
  width: 100%;
  @include flex(center, center)
}
.dots {
  width: 8px;
  height: 8px;
  margin: 10px;
  border-radius: 50%;
  background-color: gray;
}

// ====================
// Grid - Container
// --------------------
.main-grid {
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
  flex-wrap: wrap;
  @include flex(space-between, space-between);
}
.grid-item {
  padding: 15px 0px ;
  flex-basis: 47.5%;
  @include flex(flex-start, flex-start);
  flex-direction: column;
  img {
    width: 100%;
  }
  h4 {
    color: rgba(0, 0, 0, 0.3);
    padding: 25px 0px 15px 0px;
    font-size: 0.6em;
    font-family: 'Arial', sans-serif;
  }
  h2 {
    font-size: 1.5em;
    font-family: 'Springville', sans-serif;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  h5 {
    padding: 10px 0px;
    font-size: 0.6em;
    font-weight: thin;
    span {
      text-decoration: underline;
    }
  }
}

// ====================
// Footer
// --------------------
footer {
  width: 100%;
  padding: 25px 0px;
  max-width: 1440px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  h5 {
    font-size: 0.8em;
    span {
      margin-left: 1px;
      text-decoration: underline;
    }
  }
}

// ====================
// Media Queries
// --------------------

@media screen and (min-width: 375px) {
  .logo.col>img {
    @include logo-ratio(24px);
  }
  .nav-items {
    font-size: 0.5em;
  }
  .item img {
    height: 12px;
  }
  .banner {
    margin-top: 50px;
  }
}

@media screen and (min-width: 425px) {
  .nav-container {
    height: 60px;
  }
  .logo.col>img {
    @include logo-ratio(32px);
  }
  .nav-items {
    font-size: 0.6em;
  }
  .item img {
    height: 14px;
  }
  .banner {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .nav-container {
    height: 70px;
  }
  .logo.col>img {
    @include logo-ratio(34px);
  }
  .nav-items {
    font-size: 0.8em;
  }
  .item img {
    height: 18px;
  }
  .banner {
    margin-top: 70px;
  }
  .headline {
    h1 { font-size: 3.5em; }
    h3 { font-size: 2em; }
    h6 { font-size: 1em; }
  }
  .grid-item {
    flex-basis: 30%;
    h2 {
      font-size: 2em;
    }
  }
}
@media screen and (min-width: 1024px) {
  .banner {
    margin: 0 auto;
    margin-top: 70px;
  }
  .headline {
    h1 { font-size: 4.2em; }
    h3 { font-size: 2.4em; }
    h6 { font-size: 1.4em; }
  }
  .grid-item {
    h2 {
      font-size: 2.5em;
    }
  }
}
