html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

body, html {
  max-width: 100vw;
  font-size: 16px;
  box-sizing: border-box; }

@font-face {
  font-family: 'Springville';
  src: url(./fonts/Springville-Regular3.otf); }

@font-face {
  font-family: 'ACaslon';
  src: url(./fonts/ACaslonPro-Regular.otf); }

.nav-container {
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 9;
  position: fixed;
  background: white; }

.navbar {
  width: 90%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar .logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .navbar .logo img {
      width: 103.68px;
      height: 18px; }

.nav-items {
  font-size: 0.38em;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav-items .item:nth-child(1),
  .nav-items .item:nth-child(2) {
    opacity: 0.4;
    margin-right: 2.5em; }

.banner {
  overflow: hidden;
  max-width: 1440px;
  margin-top: 50px;
  position: relative;
  background: orange; }

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 8;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .overlay .headline {
    width: 90%;
    color: white;
    margin: 0 auto; }

.headline {
  padding-top: 45px; }
  .headline h1 {
    font-family: 'Springville', sans-serif;
    font-size: 8vw; }
  .headline h3 {
    font-family: 'ACaslon', sans-serif;
    font-weight: thin;
    font-size: 3.05vw; }
  .headline h6 {
    font-family: 'ACaslon', sans-serif;
    font-weight: 300;
    font-size: 3vw; }

.dots-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.dots {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 10px;
  background-color: gray; }

.main-grid {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  flex-wrap: wrap; }

.grid-item {
  padding: 15px 0px;
  flex-basis: 47.5%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column; }
  .grid-item img {
    width: 100%; }
  .grid-item h4 {
    color: rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
    font-size: 1.2vw;
    padding: 25px 0px 15px 0px; }
  .grid-item h2 {
    font-family: 'Springville', sans-serif;
    font-size: 4.5vw; }
  .grid-item h5 {
    padding: 10px 0px;
    font-size: 1.5vw;
    font-weight: thin; }
    .grid-item h5 span {
      text-decoration: underline; }

footer {
  width: 100%;
  padding: 10px 0px;
  max-width: 1440px;
  text-align: center;
  font-family: 'Arial', sans-serif; }
  footer h5 {
    font-size: 2vw; }
    footer h5 span {
      margin-left: 1px;
      text-decoration: underline; }

@media screen and (min-width: 375px) {
  .logo.col > img {
    width: 138.24px;
    height: 24px; }
  .nav-items {
    font-size: 0.5em; }
  .item img {
    height: 12px; }
  .banner {
    margin-top: 50px; } }

@media screen and (min-width: 425px) {
  .nav-container {
    height: 60px; }
  .logo.col > img {
    width: 184.32px;
    height: 32px; }
  .nav-items {
    font-size: 0.6em; }
  .item img {
    height: 14px; }
  .banner {
    margin-top: 60px; } }

@media screen and (min-width: 768px) {
  .nav-container {
    height: 70px; }
  .logo.col > img {
    width: 195.84px;
    height: 34px; }
  .nav-items {
    font-size: 0.8em; }
  .item img {
    height: 18px; }
  .banner {
    margin-top: 70px; }
  .headline h1 {
    font-size: 4.7vw; }
  .headline h3 {
    font-size: 2.05vw; }
  .headline h6 {
    font-size: 1.6vw; }
  .grid-item {
    flex-basis: 30%; } }

@media screen and (min-width: 1440px) {
  .banner {
    margin: 0 auto;
    margin-top: 70px; } }
